extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
head
    title= title

block body
    include topnav
    .container
    +img-responsive ("images/logo.png", "Logo")
    .navbar-main
        +nav-pills-justified([{text:"HOME",href:"/"},{text:"BROWSE",href:"/Browse"}, {text:"COMMUNITY",href:"#"}, {text:"ABOUT",href:"/about"}, {text:"CONTACT",href:"/contact"}],1)
        hr
    .container.main
            .row
                .col-xs-12.col-sm-12.col-md-3.col-lg-3
                    .panel.panel-default
                        .panel-heading
                            h4 Shop by Gender
                        .panel-body
                            ul#cat-navi.nav.nav-list
                                li.active
                                    a(href="/browse?gender=women") Womens
                                li
                                    a(href="/browse?gender=men") Mens
                    .panel.panel-default.visible-lg
                        .panel-heading
                            h4 Shop By Product
                        .panel-body
                            ul#cat-navi2.nav.nav-list
                                li.active
                                    a(href="/browse?typeid=clothes") Clothes
                                li
                                    a(href="/browse?typeid=shoes") Shoes
                                li
                                    a(href="/browse?typeid=accessories") Accessories
                                li
                                    a(href="/browse?typeid=swimwear") Swimwear
                h2 &nbsp #{title}
                .col-md-9
                    .row
                        for item in items
                            .col-sm-4.col-lg-4.col-md-4
                                .thumbnail
                                    img(id='search-results-image', src='images/#{item.image}.png', alt='Product')
                                .caption
                                    h4.pull-right $#{item.price}
                                    h4
                                        a(href="item?itemid=#{item.uid}") #{item.label}
                                    p.seller    
                                        | #{item.sellername}
                                   .ratings
                                       p.pull-right 15 reviews
                                       p
                                           span.glyphicon.glyphicon-star
                                           span.glyphicon.glyphicon-star
                                           span.glyphicon.glyphicon-star
                                           span.glyphicon.glyphicon-star
                                           span.glyphicon.glyphicon-star             

    include footer