extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
head
    title= title

block body
    include topnav
    .container
        +img-responsive ("images/logo.png", "Logo")
    .navbar-main
        +nav-pills-justified([{text: "HOME", href: "/"}, {text: "BROWSE", href: "/Browse"}, {
            text: "COMMUNITY",
            href: "#"
        }, {text: "ABOUT", href: "/about"}, {text: "CONTACT", href: "/contact"}],0)
        hr
        .container.main
            .row
                .col-sm-3.col-md-3
                    #accordion.panel-group
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title
                                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                                        span.glyphicon.glyphicon-user
                                        | &nbsp Account
                            #collapseOne.panel-collapse.collapse.in
                                .panel-body
                                    table.table
                                        tr
                                            td
                                                a(href="accountDetails") Account Details
                                        tr
                                            td
                                                a(href='http://www.jquery2dotnet.com') My Orders
                                                span
                                        tr
                                            td
                                                span.glyphicon.glyphicon-trash.text-danger
                                                a.text-danger(href='http://www.jquery2dotnet.com')
                                                    | &nbsp Delete Account
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title
                                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                                        span.glyphicon.glyphicon-th
                                        | &nbsp Sell
                            #collapseTwo.panel-collapse.collapse
                                .panel-body
                                    table.table
                                        tr
                                            td
                                                a(href='sell') Sell A Product
                                                span
                                        tr
                                            td
                                                a(href='myProducts') My Products
                .col-md-9
                    .row
                        for item in selling
                            .col-sm-12.col-md-10.col-md-offset-1
                                table.table.table-hover
                                    thead
                                        tr
                                            th Product
                                            th.text-center Price
                                            th.text-center Order Number
                                            th.text-center Tracking Number
                                    tbody
                                        tr
                                            td.col-sm-8.col-md-6
                                                .media
                                                    a.thumbnail.pull-left(href='#')
                                                        img.media-object(src='images/#{item.image}.png', style='width: 72px; height: 72px;')
                                                    .media-body
                                                        h4.media-heading
                                                            p #{item.label}
                                                        h5.media-heading
                                                            | Seller:
                                                            p #{item.sellername}
                                            td.col-sm-1.col-md-1.text-center
                                                strong $#{item.price}
                                            td.col-sm-1.col-md-1.text-center
                                                strong #{item.ordernum}
                                            td.col-sm-1.col-md-1
                                                strong #{item.tracking}
    include footer